
    


body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
}

/*header*/

header nav a, ul li{
    text-decoration: none;
    color: black;
    display: inline-flex;
    flex-direction: row;
}

ul li {
    text-decoration: none;
}

/*index*/

.read-more-services {
    text-decoration: none;
    color: black;
}

.read-more-about {
    text-decoration: none;
    color: black;
}

/*about*/

.bilde-kart {
    width: 100%;
}

/*products*/



/*footer*/



footer {
    background-color: #252525;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 9rem;
    
}

.footer-logo {
    text-decoration: none;
    color: #fff;
}

.footer-center {
    text-decoration: none;
    color: #fff;
}

.footer-socials {
    text-decoration: none;
    color: #fff;
}
