
    


body {
    font-family: Arial, Helvetica, sans-serif;

}

#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas:"header" 
                        "main" 
                        "footer";
}

/*header*/

header nav a, ul li{
    grid-area: header;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}



/*index*/

#main {
    grid-area: main;
    margin-bottom: 100px;
}

.main-top {
    border: none;
    background-color: #e1e0e0;
    text-align: center;
    padding: 1rem 3rem;
    height: 20%;
}

.read-more-services {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #e6bd43;
    padding: 1rem 1rem;
    
}

.main-center {
    text-align: center;
    padding: 1rem 5rem;
}

.main-center2 {
    border: solid;
    height: 30%;
    text-align: center;
    padding: 2rem 5rem;
}

.center2-img {
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    margin-top: 1rem;
}

.read-more-about {
    text-decoration: none;
    color: black;
    border: solid;
    
    padding: 1rem 1rem;
}

.main-bottom {
    grid-area: main;
    text-align: center;
    padding: 3rem 3rem 20rem 3rem;
}

.newsletter {
    grid-area: footer;
    background-color: #e1e0e0;
    color: rgb(0, 0, 0);
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    
    
    
}

/*about*/

.bilde-kart {
    width: 100%;
}

/*products*/



/*footer*/

footer {
    grid-area: footer;
    background: #252525;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 9rem;
    margin-top: auto;
}

.footer-logo {
    text-decoration: none;
    color: white;
    display: flex;
}

.footer-center {
    text-decoration: none;
    color: white;
    display: flex;
}

.footer-socials a {
    text-decoration: none;
    color: white;
    display: flex;
}



@media only screen and (min-width: 600px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr auto;
        grid-template-areas:"header header header" 
                            "main main main" 
                            "footer footer footer"
        
}



/*header*/

header nav ul li {
    grid-area: header;
    display: inline-flex;
    align-items: flex-end;
}

div {
    grid-area: header;
    display: inline-flex;
}

#div-help {
    grid-area: header;
    display: inline-flex;
    position: absolute;
    right: 15px;
}


/*index*/

.newsletter {
    grid-area: main;

}

/*about*/

.main-center2 {
    border: solid;
    height: 20%;
    text-align: center;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.center2-img {
    max-width: 100%;
    max-height: 100%;
    height: 90%;
    margin: 1rem 1rem;
    display: flex;
    align-items: flex-start;
}

.main-center2 span {
    text-align: start;
}

.read-more-about {
    text-decoration: none;
    color: black;
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 10rem;
}

/*products*/



/*footer*/

footer {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
}

.footer-socials {
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

}