
    


body {
    font-family: Arial, Helvetica, sans-serif;

}

#grid-container {
    display: grid;
    justify-content: space-around;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr auto;
    grid-template-areas:"header" 
                        "main" 
                        "footer";
}

/*header*/

.home-header {
    text-decoration:underline #e6bd43 0.1rem;
}

.products-header {
    text-decoration:underline #e6bd43 0.1rem;
}

.about-header {
    text-decoration:underline #e6bd43 0.1rem;
}

header nav a, ul li{
    grid-area: header;
    text-decoration: none;
    color: black;
    display: flex;
    justify-content: center;
}

.contact {
    border: none;
    background-color: #e6bd43;
    padding: 0.5rem 0.5rem;
}



/*index*/

#main {
    grid-area: main;
    margin-bottom: 100px;
}

.main-top {
    border: none;
    background-color: #e1e0e0;
    text-align: center;
    padding: 1rem 1rem;
    height: 15%;
}

.read-more-services {
    text-decoration: none;
    color: black;
    border: none;
    background-color: #e6bd43;
    padding: 1rem 1rem;
    
}

.main-center {
    text-align: center;
    padding: 1rem 1rem;
}

.main-center2 {
    height: 30%;
    text-align: center;
    padding: 2rem 4rem;
    background-color: #e6bd43;
}

.center2-img {
    max-width: 100%;
    max-height: 100%;
    height: 50%;
    margin-top: 1rem;
}

.read-more-about {
    text-decoration: none;
    color: black;
    border: solid;
    
    padding: 1rem 1rem;
}

.main-bottom {
    grid-area: main;
    text-align: center;
    padding: 3rem 3rem 20rem 3rem;
}

.newsletter {
    grid-area: main;
    background-color: #e1e0e0;
    color: rgb(0, 0, 0);
    border: none;
    display: flex;
    text-align: center;
    justify-content: center;
    font-weight: bold;
    font-size: larger;
    height: 10rem;
}

#email-signup {
    padding: 1rem 1rem;
    border: none;
}

#signup {
    border: none;
    background-color: #e6bd43;
    padding: 1rem 1rem;
    font-weight: bold;
}

/*about*/

.about-container img {
    width: 100%;
    height: 100vh;
}

.about-container {
    position: relative;
    
}

.about-container figcaption {
    width: 50%;
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;
    background-color: #e1e0e0;
    color: black;

}

figcaption .figcaption-link {
    text-decoration: none;
    color: black;
}

.clients-section {
    background-color: #e6bd43;
    text-align: center;
}

.our-services {
    text-align: center;
}

.our-services-ul  {
    text-align: center;
}

.our-services-branding {
    text-align: center;
}

.bilde-kart {
    width: 100%;
}

/*products*/

.portfolio-container img {
    opacity: 0.5;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
}

.portfolio-container figcaption {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 30%;
    font-size: 7vw;
}

.product-branding {
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-design {
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-dev {
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-branding-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.product-design-main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
}

.contact-form {
    display: flex;
    text-align: center;
}

.message-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

.submit {
    background-color: #e6bd43;
    border: none;
    padding: 0.5rem 0.5rem;
}


/*footer*/



footer {
    grid-area: footer;
    background: #252525;
    border: solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 19rem;
    margin-top: auto;
}

.footer-center {
    text-decoration: none;
    color: white;
    display: flex;
    flex-direction: column;
}

.footer-socials a {
    text-decoration: none;
    color: white;
    display: inline-flex;
    font-size: 2rem;
    flex-direction: row;
}



@media only screen and (min-width: 600px) {
    #grid-container {
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 3fr auto;
        grid-template-areas:"header header header" 
                            "main main main" 
                            "footer footer footer"
        
}

/*header*/

header nav ul li {
    grid-area: header;
    display: inline-flex;
    align-items: flex-end;
}

div {
    grid-area: header;
    display: inline-flex;
}

#div-help {
    grid-area: header;
    display: inline-flex;
    position: absolute;
    right: 15px;
    padding-top: 3.5rem;
}

/*index*/

main {
    grid-area: main;
}

.newsletter {
    grid-area: main;
}

.main-top {
    margin-top: 2rem;
}

.main-center2 {
    background-color: white;
    border: solid;
    height: 20%;
    text-align: center;
    padding: 2rem 5rem;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.center2-img {
    max-width: 100%;
    max-height: 100%;
    height: 90%;
    margin: 1rem 1rem;
    display: flex;
    align-items: flex-start;
}

.main-center2 .div-center2 {
    text-align: start;
    display: flex;
    flex-direction: column;
}

.read-more-about {
    text-decoration: none;
    color: black;
    border: solid;
    display: flex;
    flex-direction: column;
    padding: 1rem 1rem;
    width: 10rem;
}

/*about*/

.fa-wifi {
       
}

.our-services {

}

.branding-icons {
    display: inline-grid;
    grid-template-columns: 25% 25% 25% 25%;
    width: 100%;
}

.our-services-ul {
    display: flex;
    padding: 0rem 2rem 2rem 2rem;
}

.clients-section {
    font-size: 1.5rem;
    padding: 2rem 5rem 2rem 5rem;
}

.message-form {
    display: grid;
    grid-template-columns: 1fr;
    width: 45%;
    float: left;
    padding-bottom: 2rem;
}

.contact-info {
    display: grid;
    grid-template-columns: 1fr;
    width: 45%;
    float: right;
}

/*products*/

.portfolio-container {
    grid-area: main;
}

.portfolio-container img {
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0.5;
    object-fit: cover;
}

.portfolio-container {
    position: relative;
    overflow: hidden;
}

.portfolio-container figcaption {
    position: absolute;
    top: 50%;
    bottom: 50%;
    left: 40%;
    font-size: 5vw;
    
}

hr {
    grid-area: main;
    color: #e6bd43;
}

.product-branding {
    grid-area: main;
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-design {
    grid-area: main;
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-dev {
    grid-area: main;
    display: inline-flex;
    border: solid;
    border-width: thin;
    padding: 0.5rem;
}

.product-branding-main {
    grid-area: main;
    display: inline-flex;
    width: 33%;
    justify-content: center;
    flex-direction: column;
}

.product-design-main {
    grid-area: main;
    display: inline-flex;
    width: 33%;
    
}

.product-development {
    grid-area: main;
    display: inline-flex;
    flex-direction: column;
    align-items: space-around;
    width: 45%;
    
}

/*footer*/

footer {
    display: inline-grid;
    grid-template-columns: 33% 33% 33%;
    width: 100%;
    
}

.footer-center {
    display: grid;
    text-align: center;
}

.footer-socials {
    display: grid;
    grid-auto-flow: column;
    text-align: right;
    
}

}
